{% extends 'base.html' %}

{% block title %}Edit inventori{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Pembekal</a></li>
  <li class="breadcrumb-item"><a href="{% url 'stoks' inventori.stok.pembekal.pk %}">{{ inventori.stok.pembekal.nama_pembekal }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'inventoris' inventori.stok.pembekal.pk inventori.stok.pk %}">{{ inventori.stok.nama_stok }}</a></li>
  <li class="breadcrumb-item active">Edit inventori</li>
{% endblock %}

{% block content %}
  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Save changes</button>
    <a href="{% url 'inventoris' inventori.stok.pembekal.pk inventori.stok.pk %}" class="btn btn-outline-secondary" role="button">Cancel</a>
  </form>
{% endblock %}